<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Manager</title>
</head>

<body>
    <h1 class="home_heading">
        Welcome to our conference manager! Below is a list of upcoming conferences.
    </h1>
    <ul class="conference_list_container">
        {% for conference in conferences%}
        <li class="conference_box">
            <h2>{{conference.name}}</h2>
            <p>Date: {{conference.date}}</p>
            <p>Venue: {{conference.city}}</p>
            <p>Attendance: {{conference.attendees}}</p>
            <a href="./{{conference.id}}" class="conference_navigation">Learn more</a>
        </li>
        {%endfor%}
    </ul>
    <div class="create_conference">
        <a href="./create" class="create_conference">Create a new conference</a>
    </div>
</body>

</html>